---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/hero.astro';
import Aboutme from '../sections/aboutme.astro';
import Skills from '../sections/Skills.astro';
import Education from '../sections/Education.astro';
---

<Layout title="Portfolio Augusto">
    <section><Hero/></section>
    <section><Aboutme/></section>
    <section><Skills/></section>
    <section><Education/></section>
</Layout>