<body>
    <h3 class="text-center text-4xl font-semibold">Informatik Schüler an der Computer Schule Bern</h3>
    
    <div class="flex justify-center items-center h-screen">
      <button>
        <p class="button text-center font-bold border border-accent p-4 bg-accent rounded-lg w-96 hover:bg-secondary mb-96 mt-10">
          Aktuell besuche ich das zweite Jahr an der Computer Schule Bern als Informatiker.  
          In der ICT-Schule fasziniert mich am meisten das Arbeiten an Projekten die wir in Teams oder auch alleine machen. Meine Klassenkameraden und Freunde sehen mich als kontaktfreudig und sozial.
        </p>
      </button>
    </div>
  
    <style>
      .button {
        transition: all 0.3s ease-in-out;
      }
      .button:hover {
        transform: scale(1.05);
      }
      .button:hover::before {
        animation: shine 1.5s ease-out infinite;
      }
    </style>
</body>
  