<body>
    <div>
        <h1>EDUCATION</h1>
    </div>
    <div>
        <p>2023 bis Heute	      Als lehrender Informatiker an der Computer Schule Bern
           2014 bis 2022	      1. bis 9. Obligatorische Schule
        </p>
        <p class="w-4 h-4 bg-white rounded-full">
            Sprachen
            Deutsch
            Spanisch
            Englisch
        </p>
    </div>
</body>