<section class="flex flex-col items-center mt-10">
    <body class="bg-gradient-to-r from-gray-900 via-purple-900 to-black min-h-screen flex items-center justify-center">
        <h1 class="text-6xl font-RobotoMono mb-20">AUSBILDUNG</h1>
        <div>
            <div>
                <ul class="space-y-4 text-xl">
                    <li class="flex justify-between">
                        <span>2023 bis Heute</span>
                        <span>Als lehrender Informatiker an der Computer Schule Bern</span>
                    </li>
                    <li class="flex justify-between">
                        <span>2014 bis 2022</span>
                        <span>1. bis 9. Obligatorische Schule</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bg-gray-800 p-8 rounded-lg shadow-lg mt-10">
            <ul class="space-y-4">
                <!-- Deutsch -->
                <li class="flex items-center justify-between text-lg text-white font-bold">
                    <span class="w-24 font-CourierNew">Deutsch</span>
                    <div class="flex space-x-4">
                        <div class="w-5 h-5 bg-white rounded-full"></div>
                        <div class="w-5 h-5 bg-white rounded-full"></div>
                        <div class="w-5 h-5 bg-white rounded-full"></div>
                        <div class="w-5 h-5 bg-white rounded-full"></div>
                        <div class="w-5 h-5 bg-white rounded-full"></div>
                    </div>
                </li>
                <!-- Spanisch -->
                <li class="flex items-center justify-between text-lg text-white font-bold">
                    <span class="w-24 font-CourierNew">Spanisch</span>
                    <div class="flex space-x-4">
                        <div class="w-5 h-5 bg-white rounded-full"></div>
                        <div class="w-5 h-5 bg-white rounded-full"></div>
                        <div class="w-5 h-5 bg-white rounded-full"></div>
                        <div class="w-5 h-5 bg-white rounded-full"></div>
                        <div class="w-5 h-5 bg-gray-400 rounded-full"></div>
                    </div>
                </li>
                <!-- Englisch -->
                <li class="flex items-center justify-between text-lg text-white font-bold">
                    <span class="w-24 font-CourierNew">Englisch</span>
                    <div class="flex space-x-4">
                        <div class="w-5 h-5 bg-white rounded-full"></div>
                        <div class="w-5 h-5 bg-white rounded-full"></div>
                        <div class="w-5 h-5 bg-white rounded-full"></div>
                        <div class="w-5 h-5 bg-gray-400 rounded-full"></div>
                        <div class="w-5 h-5 bg-gray-400 rounded-full"></div>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</section>
