<head>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="relative mt-10 pt-24 h-[50vh]">
        <div class="flex justify-center items-center">
          <img src="/CodeMoving.webp" alt="CodeMoving" class="absolute -top-12 left-0 w-full h-full object-cover z-0 opacity-75">
        </div>
        <div class="loader">
          <span class="loader-text relative text-center text-6xl font-extrabold text-transparent z-10 bg-clip-text bg-white font-lora ml-[10vw]">
            Ich_bin_Augusto_Hasenbalg
          </span>
        </div>
    </div>

    <style>
        .loader-text {
          font-size: 5vw; /* Dynamische Schriftgröße */
          font-weight: 700;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .loader {
          position: relative;
          overflow: hidden;
          border-right: 3px solid;
          width: 0px;
          animation: typewriter 5s steps(31) infinite alternate, blink 0.5s steps(31) infinite;
        }
        @keyframes typewriter {
          0% {
            width: 10vw; /* Dynamische Breite */
          }
          100% {
            width: 85vw; /* Dynamische Breite */
          }
        }
        @keyframes blink {
          0% {
            border-right-color: rgba(255, 255, 255, .75);
          }
          100% {
            border-right-color: transparent;
          }
        }
        h1 {
          text-shadow: 0 0 10px rgba(0, 98, 255, 0.7),
                       0 0 20px rgba(0, 98, 255, 0.7),
                       0 0 30px rgba(0, 98, 255, 0.7),
                       0 0 40px rgba(0, 98, 255, 0.7);
        }
        .font-lora {
          font-family: 'Lora', serif;
        }
    </style>
</body>


